
  *{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'nav nav nav'
    'video video video '
    'cards-contato-1 cards-contato-2 cards-contato-3'
    'card-mapa card-mapa card-mapa'
    'iframe iframe iframe'
    'footer footer footer'
    ;
  }
  /**************************************/
  nav{
    grid-column:1/4;
    height: 5vh;
    width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  }
nav a{
  color: #0f6641;
  font-size: 16px;
  text-decoration: none;
}
nav img{
  margin-left: 40%;
  width: 80%;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
  color: #0f6641;
  text-decoration: none;
}
#btn-mobile {
  display: none;
}
.text-underlined{
  position: relative;
  overflow: hidden;
  color: #00421e;
  will-change: color;
  transition: color .25s ease-out;  
  display: flex;
}
.text-underlined::before, 
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);
  color: #0f6641;
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}
.text-underlined:hover::before, 
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .5s;
}
/******************************************/
video{
  grid-area: video;
  width: 100%;
}

/*****************************************/

  .cards-contato-1 h2{
    color: #0f6641;
    margin: 1%;
    font-size: 25px;
  }
  .cards-contato-1 p{
    color: black;
    margin: 1%;
    font-size: 18px;
  }
  .cards-contato-1 h4{
    color: black;
    margin: 2%;
    font-size: 20px;
  }
  .cards-contato-1{
  grid-area: cards-contato-1;
  text-align: center;
  padding:5%;
  margin: 5%;
  }
  .cards-contato-2 h2{
    color: #0f6641;
    margin: 1%;
    font-size: 25px;
  }
  .cards-contato-2 p{
    color: black;
    margin: 1%;
    font-size: 18px;
  }
  .cards-contato-2 h4{
    color: black;
    margin: 2%;
    font-size: 20px;
  }
  .cards-contato-2{
  grid-area: cards-contato-2;
  text-align: center;
  padding: 5%;
  margin: 5%;
  }
  .cards-contato-3 h2{
    color: #0f6641;
    margin: 1%;
    font-size: 25px;
  }
  .cards-contato-3 p{
    color: black;
    margin: 1%;
    font-size: 18px;
  }
  .cards-contato-3 h4{
    color: black;
    margin: 2%;
    font-size: 20px;
  }
  .cards-contato-3{
  grid-area: cards-contato-3;
  text-align: center;
  padding: 5%;
  margin: 5%;
  }
/**********************************/

.card-mapa{
  grid-area: card-mapa;
  margin: 10%;
  text-align: center;
  position: relative;
}
iframe{
  grid-area: iframe;
}
/**********************************/
#part2 {
  margin-top: 0%;
  margin: 0%;
  width: 100%;
  height: 40px;
  background-color: #0f6641;
}
#txt6 {
  color: #fcfcfc;
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  height:30px;
  font-size: 17px;
  padding: 10px;
}
/*************************MEDIA***********************************/
@media only screen and (max-width:600px){             
footer{
  flex-direction: column;
  height: 90vh;
}
}
@media only screen and (max-width:700px){
  .container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'nav'
    'video'
    'cards-contato-1'
    'cards-contato-2'
    'cards-contato-3'
    'card-mapa'
    'iframe'
    
  }
  #nav{
    height: 100px;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #ffffffcc;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(22, 22, 22);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: rgb(0, 90, 35);
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}