

*{
  box-sizing: border-box;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
  'nav nav nav'
  "content-svs content-svs content-svs"
  "content-sl-1 content-sl-2 content-sl-3 "
  'content-sl-4 content-sl-5 content-sl-6'
  'footer footer footer'
  ;
}
/**************************************/
nav{
  grid-column:1/4;
  height: 5vh;
  width: 100%;
padding: 2rem;
display: flex;
align-items: center;
justify-content: space-between;
background: rgb(255, 255, 255);
position: fixed;
z-index: 1;
}
nav a{
color: #0f6641;
font-size: 16px;
text-decoration: none;
}
nav img{
margin-left: 40%;
width: 80%;
}
#menu {
display: flex;
list-style: none;
gap: 0.5rem;
}
#menu a {
display: block;
padding: 0.5rem;
color: #0f6641;
text-decoration: none;
}
#btn-mobile {
display: none;
}
.text-underlined{
position: relative;
overflow: hidden;
color: #00421e;
will-change: color;
transition: color .25s ease-out;  
display: flex;
}
.text-underlined::before, 
.text-underlined::after{
content: "";
width: 0;
height: 3px;
background-color: var(--textUnderlinedLineColor, currentColor);
color: #0f6641;
will-change: width;
transition: width .1s ease-out;
position: absolute;
bottom: 0;
}
.text-underlined:hover::before, 
.text-underlined:hover::after{
width: 100%;
transition-duration: .5s;
}
/******************************************************/
:root {
--branco-color: #3d3d3d;
--verde-color: #0f6641;
--verde-ts-color: #0f6640be;
} 

.content-svs{
grid-area:content-svs;
margin: 5%;
}
.content-svs h1{
text-align: center;
color:  var(--verde-color);
font-size: 40px;
}
/**/
.content-sl-1{
  grid-area: content-sl-1;
  margin: 5%;
  text-align: center;
}
.content-sl-1 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-1 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/**/
.content-sl-2{
  grid-area: content-sl-2;
  margin: 5%;
  text-align: center;
}
.content-sl-2 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-2 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/**/
.content-sl-3{
  grid-area: content-sl-3;
  margin: 5%;
  text-align: center;
}
.content-sl-3 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-3 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/***/
.content-sl-4{
  grid-area: content-sl-4;
  margin: 5%;
  text-align: center;
}
.content-sl-4 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-4 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/**/
.content-sl-5{
  grid-area: content-sl-5;
  margin: 5%;
  text-align: center;
}
.content-sl-5 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-5 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/**/
.content-sl-6{
  grid-area: content-sl-6;
  margin: 5%;
  text-align: center;
}
.content-sl-6 h2{
  color:  var(--branco-color);
  padding: 0% 0% 1% 0%;
  font-size: 30px;
}
.content-sl-6 P{
  color:  var(--branco-color);
  font-size: 20px;
}
/***************************************************/
footer{
grid-area: footer;
display: flex;
height: 40vh;
background: #0f6641;
}
footer h2{
color: #e9e9e9;
}
footer a{
text-decoration:none;
color: #fcfcfc;
}
footer p{
color: #fcfcfc;
}
footer img{
width: 100%;
}
.footer-text{
padding: 5%;
}
.footer-text-1{
padding: 5%;
}
.footer-text-2{
padding: 5%;
}
.footer-text-3{
padding: 5%;
}
.footer-text-4{
padding: 5%;
}
#part2 {
margin-top: 0%;
margin: 0%;
width: 100%;
height: 40px;
background-color: rgb(255, 255, 255);
}
#txt6 {
color: rgb(0, 0, 0);
position: relative;
align-items: center;
text-align: center;
width: 100%;
height:30px;
font-size: 19px;
}
/*************************MEDIA***********************************/
@media only screen and (max-width:600px){             
footer{
flex-direction: column;
height: 90vh;
}
}
@media only screen and (max-width:700px){
.container{
  grid-template-columns: 1fr;
  grid-template-areas: 
  'nav'
  "content-svs"
  "content-svs "
  "imagem-svs"
  'content-1'
  'content-2'
  'content-3'
  'footer'
}
#nav{
  height: 100px;
}
#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: #ffffffcc;
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.active #menu {
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}
#menu a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgb(22, 22, 22);
}
#btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
  color: rgb(0, 90, 35);
}
#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburger {
  border-top-color: transparent;
}
#nav.active #hamburger::before {
  transform: rotate(135deg);
}
#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
.content-1{
  flex-direction: column;
  align-items: center;
}
.content-2{
  flex-direction: column;
  align-items: center;
}
.content-3{
  flex-direction: column;
  align-items: center;
}
}
